{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-md">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th class="col-md-2 center-block">Ações</th>
        </tr>
        {% for school in schools %}
        <tr>
            <td><a class="btn btn-success" href="#">{{ forloop.counter }}</a></td>
            <td><a id="food_detail" class="btn btn-success" href="/Myapp/school_detail/{{school.uuid}}/">{{school.name}}</a></td>
            <td class="col-md-2 center-block text-center">
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}