{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Create {% endblock %}
{% block content %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
              {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
              {% endfor %}
          </div>
    </div>
{% endif %}
<form action="" method="post" class = "form-control">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}