{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} School Detail {% endblock %}
{% block content %}
<section class="section">
    <div class="section-body">
        <h2 class="section-title">{{school.name}}</h2>
    </div>
    <p class="section-lead">
        <div class="center">
            <h1>Turmas relacionada a escola {{school.name}}</h1>
        </div>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-md">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th class="col-md-2 center-block">Ações</th>
            </tr>
            {% for class in classroom %}
            <tr>
                <td><a class="btn btn-success" href="#">{{ forloop.counter }}</a></td>
                <td><a id="food_detail" class="btn btn-success" href="/Myapp/classroom_detail/{{class.uuid}}/">{{class.name}}</a></td>
                <td class="col-md-2 center-block text-center">
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="/Myapp/delete/{{Food.uuid}}/" class="btn btn-danger">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </table>
</section>
{% endblock %}